.gallery {
    max-width: 1440px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
    margin: 24px auto;
    padding: 0;
    background-color: #fff;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);   
}

.gallery-image {
    width: 100%;
    height: 100%;
}
